#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-light-mode-background {
  background-image: url('@/assets/Welcome Page.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
}

/* Dark mode background image */
.bg-dark-mode-background {
  background-image: url('@/assets/Welcome Image dark.png');
  background-size: cover;
  background-position: center;
}

.relative:hover .absolute {
  display: block;
}

.absolute {
  white-space: nowrap; /* Prevent text wrapping */
}

.bg-login-light {
  background-image: url('@/assets/Login page light.jpg');
  background-size: cover;
  background-position: center;
}

.bg-register-light {
  background-image: url('@/assets/Register page light.png');
  background-size: cover;
  background-position: center;
}

/* Background images for dark mode */
.bg-login-dark {
  background-image: url('@/assets/Login page dark.png');
  background-size: cover;
  background-position: center;
}

.bg-register-dark {
  background-image: url('@/assets/Register page dark.png');
  background-size: cover;
  background-position: center;
}
